
main {
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
  
}

body {
  background-color :honeydew;
  color: crimson;
}

h1{
  background-color: crimson;
  color: azure;
  width: 100%;
  padding: 10px 20px;
  margin-top:50px;
  text-align: center;
}

.inputs-section,input{
  width: 500px;
  align-items: center;
 
}

.inputs-section,p {
  text-align: left;
  font-weight: bolder ;
}

output{
  font-weight: bold;
  color: azure ;
  background-color: crimson;
  padding: 10px 20px;
  border-radius: 9999px;
}